name: Release package

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
    
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: 'npm'
      
      - run: npm version ${{ github.ref_name }} --no-git-tag-version

      - run: npm install

      - run: npm test

      - run: npm pack

      - run: npm publish

      - name: Release
        if: ${{ always() }}
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            ./doctoc-*.tgz
